<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=-1">
    <title>CVL - Saint Valentin - 2024</title>
</head>
<body>
    <h1 style="text-decoration: underline; padding-top: 1em;" class="title columns is-centered is-vcentered">CVL - ROSA PARKS - ST VALENTIN</h1><br>

    <div class="is-centered is-vcentered has-text-centered">
        {% if need_to_be_receive_by_cvl %}
            <p class="is-size-3"><h style="text-decoration: underline">Merci de votre commande!</h><br>La fleur de {{ nd }} {{ pd }} sera donnée le 01/01/2000</p>
        {% else %}
            <p class="is-size-3">Merci de votre commande, vous pourrez récupérer votre fleur auprès du stand tenu par le CVL !</p>
        {% endif %}

        <p class="is-size-3">Vous avez la commande numéro {{ code_unique }}. Merci de garder ce numéro, il servira à payer votre commande!</p>
        <h1 class="is-size-3"><h class="has-text-danger">Attention !</h> Nous ne donnerons pas de fleurs si le paiement de celle-ci n'est pas faite !</h1>
    </div>
</body>
</html>