<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script type="application/javascript" src="{{ url_for("static", filename="js/modal_commande.js") }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .textarea {
            min-width: 0;
        }
    </style>
    <title>CVL - Saint Valentin - 2024</title>
</head>
<body class="has-text-centered">
    <h1 style="text-decoration: underline; padding-top: 1em;" class="title columns is-centered is-vcentered">ST VALENTIN</h1><br>
    <div class="columns is-centered is-vcentered">
        <form action="{{ url_for('commande') }}" method="post" style="padding-bottom: 15px">
            <h3 class="is-size-4">Nom du destinataire:</h3>
            <label>
                <input class="input is" style="margin-bottom: 1em; width: calc(100% - 100px) !important;"  type = 'text' name = 'nd' required/>
            </label>
            <h3 class="is-size-4">Prénom du destinataire:</h3>
            <label>
                <input class="input" style="margin-bottom: 1em; width: calc(100% - 100px) !important;"  type = 'text' name = 'pd' required/>
            </label>
            <h3 class="is-size-4">Classe du destinataire:</h3>
            <label>
                <div style="margin-bottom: 1em" class="select">
                    <select name="cd">
                        <option>Classe</option>
                        <optgroup label="Seconde 1 - Seconde 10">
                            <!-- Options de 201 à 210 -->
                            <option value="201">Seconde 1</option>
                            <option value="202">Seconde 2</option>
                            <option value="203">Seconde 3</option>
                            <option value="204">Seconde 4</option>
                            <option value="205">Seconde 5</option>
                            <option value="206">Seconde 6</option>
                            <option value="207">Seconde 7</option>
                            <option value="208">Seconde 8</option>
                            <option value="209">Seconde 9</option>
                            <option value="210">Seconde 10</option>
                        </optgroup>
                        <optgroup label="Première 1 - Première STI2D">
                            <!-- Options de 101 à 109 -->
                            <option value="101">Première 1</option>
                            <option value="102">Première 2</option>
                            <option value="103">Première 3</option>
                            <option value="104">Première 4</option>
                            <option value="105">Première 5</option>
                            <option value="106">Première 6</option>
                            <option value="107">Première 7</option>
                            <option value="108">Première 8</option>
                            <option value="109">Première 9</option>
                        </optgroup>
                        <optgroup label="Terminale 1 - Terminale STI2D">
                            <!-- Options de T01 à T09 -->
                            <option value="T01">Terminale 1</option>
                            <option value="T02">Terminale 2</option>
                            <option value="T03">Terminale 3</option>
                            <option value="T04">Terminale 4</option>
                            <option value="T05">Terminale 5</option>
                            <option value="T06">Terminale 6</option>
                            <option value="T07">Terminale 7</option>
                            <option value="T08">Terminale 8</option>
                            <option value="T09">Terminale STI2D</option>
                        </optgroup>
                    </select>
                </div>
            </label>
            <h3 class="is-size-4">Votre Nom:</h3>
            <label>
                <input class="input is" style="margin-bottom: 1em; width: calc(100% - 100px) !important;"  type = 'text' name = 'pe' required/>
            </label>
            <h3 class="is-size-4">Votre Prénom:</h3>
            <label>
                <input class="input is" style="margin-bottom: 1em; width: calc(100% - 100px) !important;"  type = 'text' name = 'ne' required/>
            </label>
            <h3 class="is-size-4">Votre Classe:</h3>
            <label>
                <div style="margin-bottom: 1em" class="select">
                    <select name="ce">
                        <option>Classe</option>
                        <optgroup label="Seconde 1 - Seconde 10">
                            <!-- Options de 201 à 210 -->
                            <option value="201">Seconde 1</option>
                            <option value="202">Seconde 2</option>
                            <option value="203">Seconde 3</option>
                            <option value="204">Seconde 4</option>
                            <option value="205">Seconde 5</option>
                            <option value="206">Seconde 6</option>
                            <option value="207">Seconde 7</option>
                            <option value="208">Seconde 8</option>
                            <option value="209">Seconde 9</option>
                            <option value="210">Seconde 10</option>
                        </optgroup>
                        <optgroup label="Première 1 - Première STI2D">
                            <!-- Options de 101 à 109 -->
                            <option value="101">Première 1</option>
                            <option value="102">Première 2</option>
                            <option value="103">Première 3</option>
                            <option value="104">Première 4</option>
                            <option value="105">Première 5</option>
                            <option value="106">Première 6</option>
                            <option value="107">Première 7</option>
                            <option value="108">Première 8</option>
                            <option value="109">Première 9</option>
                            <option value="109">Première STI2D</option>
                        </optgroup>
                        <optgroup label="Terminale 1 - Terminale STI2D">
                            <!-- Options de T01 à T09 -->
                            <option value="T01">Terminale 1</option>
                            <option value="T02">Terminale 2</option>
                            <option value="T03">Terminale 3</option>
                            <option value="T04">Terminale 4</option>
                            <option value="T05">Terminale 5</option>
                            <option value="T06">Terminale 6</option>
                            <option value="T07">Terminale 7</option>
                            <option value="T08">Terminale 8</option>
                            <option value="T09">Terminale STI2D</option>
                        </optgroup>
                    </select>
                </div>
            </label>
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="checkbox" name="themself"> Je souhaite donner moi même la fleur
                    </label>
                </div>
            </div>
            <h3 class="is-size-4" >Message pour le destinataire:</h3>
            <label>
                <textarea class="textarea" style="margin-bottom: 1em; margin-left: 50px; width: calc(100% - 100px) !important;" name = 'message' required maxlength="150"></textarea>
            </label>
            <br>
            <div id="modal-js-example" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title bg-warning text-danger">Attention</p>
                        <button class="delete" aria-label="close" type="button"></button>
                    </header>
                    <section class="modal-card-body">
                        <p>Attention, en appuyant sur le bouton "envoyer ma demande", vous vous <strong>engagez à récupérer votre fleur auprès du CVL</strong>. Toute commande, avec un nom/prénom inapproprié d'acheteur et/ou nom/prénom inapproprié pour le bénéficiaire et/ou un message incorrect, sera <strong>refuser</strong> et <strong>ne sera pas prise en compte</strong></p>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-primary" type="submit">Envoyer ma demande!</button>
                        <button class="button" type="button">Fermer</button>
                    </footer>
                </div>
            </div>
            <button id="js-modal-trigger" data-target="modal-js-example" type="button" class="button is-primary">
                Valider la demande
            </button>
        </form>
    </div>
</body>
</html>
