<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script type="application/javascript" src="{{ url_for("static", filename="js/modal_commande.js") }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .textarea {
            min-width: 0;
        }
    </style>
    <title>CVL - Saint Valentin - 2024</title>
</head>
<body class="has-text-centered">
    <h1 style="text-decoration: underline; padding-top: 1em;" class="title columns is-centered is-vcentered">ST VALENTIN</h1><br>
    <div class="columns is-centered is-vcentered">
        <h1>Nous sommes désolé! Mais la vente de fleur n'est pas disponible pour le moment ! </h1>
    </div>
</body>
</html>
